Pyrogram
TgCrypto
pytgcalls
python-dotenv
youtube_dl

requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
Pillow
python-arq
future
psutil
wget
tswift
yt_dlp
youtube_search
youtube_search_python==1.4.6
